{% extends 'base_m_R.html' %}
{% load static %}
{% block title %}Biseccion{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/biseccion.css' %}">
{% endblock %}
{% block metodo %}biseccion{% endblock %}
{% block content %}


  <div class="main-wrapper">
    <main class="container-biseccion">
      <h1>Encuentra la Raíz de la Función</h1>

      <!-- Calculadora -->
      <div class="calculadora">
          <button onclick="insertarFuncion('sin(x)')">sin</button>
          <button onclick="insertarFuncion('cos(x)')">cos</button>
          <button onclick="insertarFuncion('tan(x)')">tan</button>
          <button onclick="insertarFuncion('log(x)')">log</button>
          <button onclick="insertarFuncion('sqrt(x)')">√</button>
          <button onclick="insertarFuncion('exp(x)')">exp</button>
          <button onclick="insertarFuncion('^')">^</button>
          <button onclick="insertarFuncion('pi')">π</button>
          <button onclick="limpiarFuncion()">🗑 Limpiar</button>
      </div>

      <label for="funcion">Función</label>
      <input class="intro" type="text" id="funcion" placeholder="Función (ej. sin(x), log(x))">

      <label for="a">Valor de a (inicio)</label>
      <input class="intro" type="number" id="a" placeholder="Valor de a (inicio)" step="any">

      <label for="b">Valor de b (fin)</label>
      <input class="intro" type="number" id="b" placeholder="Valor de b (fin)" step="any">

      <button onclick="encontrarRaiz()">Calcular Raíz</button>

      <div id="result" class="result" style="display: none;"></div>
      <div id="error" class="error" style="display: none;"></div>
      <div id="log" class="log"></div>

 


  </main>
  <section id="grafico" style="height: 400px;"></section>
</div>

{% endblock %}

{% block extrascripts %}
<script src="{% static 'scripts/biseccion.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.8.0/math.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}