{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
<main class="container mt-5">
    <div class="text-center">
      <h1 class="display-4 fw-bold">¡Bienvenido a DeltaPro!</h1>
      
      <a href="{% url 'nosotros' %}" class="btn btn-primary btn-lg mt-3">Conocé más</a>
    </div>

    <hr class="my-5">

    <div class="row text-center">
      <div class="col-md-4">
        <ion-icon name="people"  alt="Feature 1" style="font-size: 150px;"></ion-icon>
        <h3>Cantidad de Usuarios</h3>
        
      </div>
      <div class="col-md-4">
        <ion-icon name="calculator" alt="Feature 2" style="font-size: 150px;"></ion-icon>
        <h3>Metodos disponibles</h3>
        
      </div>
      <div class="col-md-4">
        <ion-icon name="chatbox-ellipses-outline" alt="Feature 3" style="font-size: 150px;"></ion-icon>
        <h3>cantidad de reseñas</h3>
        
      </div>
    </div>

    <hr class="my-5">

    <!-- Sección: Acerca del Proyecto -->
    <section class="mb-5">
      <h2>Objetivo</h2>
      <p>
        DeltaPro fue desarrollado con el objetivo de brindar una plataforma educativa interactiva 
        para estudiantes, docentes y profesionales que necesiten resolver problemas matemáticos mediante 
        métodos numéricos.
      </p>
    </section>

    <!-- Sección: ¿Qué Problemas Resuelve? -->
    <section class="mb-5">
      <h2>¿Qué Problemas Resuelve Nuestra Aplicación?</h2>
      <ul>
        <li>Automatiza cálculos complejos como raíces de ecuaciones o sistemas de ecuaciones.</li>
        <li>Disminuye el margen de error en cálculos realizados a mano.</li>
        <li>Sirve como herramienta de apoyo para enseñar y aprender métodos numéricos.</li>
      </ul>
    </section>

    <!-- Sección: ¿Quiénes la Pueden Usar? -->
    <section class="mb-5">
      <h2>¿Quiénes la Pueden Usar?</h2>
      <p>
        La aplicación está pensada para:
      </p>
      <ul>
        <li>Estudiantes de ingeniería, física y carreras afines.</li>
        <li>Docentes universitarios y secundarios.</li>
        <li>Profesionales que requieran soluciones rápidas a problemas numéricos.</li>
      </ul>
    </section>

{% endblock %}

{% block extrascripts %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}