{% extends 'base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container mt-5">
  <div class="text-center">
    <img src="{% static 'images/logo_Aurea.png' %}" alt="logo_Aurea" style="width: 400px; height: 400px; margin-top: 30px; border-radius: 20px;" data-aos="zoom-in" data-aos-duration="1200">
    <p class="text-center lead mt-5">
      En AUREA nos especializamos en el desarrollo de software, soluciones web personalizadas y el mantenimiento integral de sistemas digitales. Nuestro compromiso con la calidad y la innovación tecnológica nos permite ofrecer servicios eficientes y adaptados a las necesidades de cada cliente. 
      Contamos con un equipo altamente profesional y capacitado, dedicado a brindar soluciones confiables con un enfoque en la excelencia y la mejora continua.
    </p>
  </div>
  
  <hr class="my-5">

  <div class="projects container" data-aos="fade"  data-aos-duration="1000"> 

    <h2>Nuestros proyectos</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../static/images/proyectos/dataPulso.png" alt="proyecto1">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/AutoRuta.png" alt="proyecto2">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/estiloNomada.png" alt="proyecto3">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/telaTrama.png" alt="proyecto4">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/deltaPRO.png" alt="proyecto5">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/dataPulso.png" alt="proyecto1">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/AutoRuta.png" alt="proyecto2">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/estiloNomada.png" alt="proyecto3">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/telaTrama.png" alt="proyecto4">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/deltaPRO.png" alt="proyecto5">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/dataPulso.png" alt="proyecto1">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/AutoRuta.png" alt="proyecto2">
            </div>
            <div class="swiper-slide">
              <img src="../static/images/proyectos/estiloNomada.png" alt="proyecto3">
                
        </div> 
    </div>
    
  </div>
  
</div>
  <hr class="my-5">
  
  <h2 data-aos="fade" data-aos-duration="900">Nuestros servicios</h2>
  
  <div class="col mb-5">
    <div class="row" data-aos="slide-left" data-aos-duration="900" style="align-items: center; justify-content: center;"> 
      <div class="card">
        <div class="face front">
          <img src="../static/images/desarrollo_software.webp" alt="servicio 1">
          
        </div>
        <div class="face back">
          <h3>Desarrollo de Software</h3>
          <p>Informatizamos tu empresa.</p>
        </div>
      </div>
      <div class="card">
        <div class="face front">
          <img src="../static/images/soporte.avif" alt="servicio 2">
          
        </div>
        <div class="face back">
          <h3>Mantenimiento y soporte</h3>
          <p>Aseguramos un correcto funcionamiento y actualizaciones.</p>
        </div>
      </div>
      <div class="card">
        <div class="face front">
          <img src="../static/images/diseñoWeb.jpg" alt="servicio 3">
          
        </div>
        <div class="face back">
          <h3>Diseño y desarrollo de UX/UI</h3>
          <p>Mejoramos la interaccion de los usuario de tu empresa.</p>
        </div>
      </div>  

    </div>
    <div class="row" data-aos="slide-right" data-aos-duration="900" style="align-items: center; justify-content: center;"> 
      <div class="card">
        <div class="face front">
          <img src="../static/images/analisisDatos.jpg" alt="servicio 4">
          
        </div>
        <div class="face back">
          <h3>Análisis de datos</h3>
          <p>Transformamos tus datos en decisiones inteligentes.</p>
        </div>
      </div> 
      <div class="card">
        <div class="face front">
          <img src="../static/images/automatizacion.avif" alt="servicio 5">
          
        </div>
        <div class="face back">
          <h3>Automatizacion de procesos</h3>
          <p>Mejoramos la eficiencia en tu empresa.</p>
        </div>
      </div>  
      <div class="card">
        <div class="face front">
          <img src="../static/images/desarrollo_sistemas.png" alt="servicio 6">
        
        </div>
        <div class="face back">
          <h3>Desarrollo de sistemas a medida</h3>
          <p>Desarrollo de sistemas adecuado al rubro.</p>
        </div>
      </div>  

    </div>
    
           
  

  </div>
      <!-- Sección: Equipo de Desarrollo -->
      
    <section class="row mb-5" data-aos="fade-up" data-aos-duration="900">
      <h2>Equipo de desarrollo</h2>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Alvaro Lopez</h4>
          <h6>Full-Stack Developer</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
          <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
      </div>
      </div>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Priscilla Sarapura</h4>
          <h6>analista de sistemas</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
          <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
      </div>
      </div>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Fiorella Corti</h4>
          <h6>analista de sistemas</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
          <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
      </div>
      </div>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Nicolas Ocampo</h4>
          <h6>Backend Developer</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
          <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
      </div>
      </div>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Ezequiel Pantoja</h4>
          <h6>UI/UX designer</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
          <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
      </div>
      </div>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Santiago Herraez</h4>
          <h6>Backend Developer</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
          <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
      </div>
      </div>
      <div class="profile-card">
        <div class="personal-content">
          <span></span>
          <div class="img">
            <img src="../media/perfiles/DeltaPro_transparente.png" alt="foto persona">

          </div>
          <h4>Bautista Rangeon</h4>
          <h6>Project Manager</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dolore?</p>
        </div>
        <div class="links"> 
            <a href=""><ion-icon name="logo-whatsapp"></ion-icon></a>
            <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="https://www.github.com/"><ion-icon name="logo-github"></ion-icon></a>
        </div>
      </div>

    </section>
</div>



{% endblock %}
  
{% block extrascripts %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{% static 'scripts/slider.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init({
    once: false
  });
</script>
{% endblock %}