{% extends 'base_m_R.html' %}
{% load static %}
{% block title %}Secante{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/secante.css' %}">
{% endblock %}
{% block content %}
<div class="body-secante">
    <div class="container-secante">
        <h1>Método de la Secante</h1>
    
        <form id="formulario">
            <div class="campo">
                <label>Variable (ej: x, t, z):</label>
                <input type="text" id="variable" maxlength="1" required>
            </div>
            <div class="campo">
                <label>Función f(x):</label>
                <input type="text" id="funcion" placeholder="Ej: sen(x) - x/2" required>
            </div>
            <div class="campo">
                <label>Valor inicial x0:</label>
                <input type="number" id="x0" required>
            </div>
            <div class="campo">
                <label>Valor inicial x1:</label>
                <input type="number" id="x1" required>
            </div>
            <div class="campo">
                <label>Tolerancia:</label>
                <input type="number" id="tolerancia" step="any" value="0.000001">
            </div>
            <button type="submit">Calcular Raíz</button>
        </form>
    
        <div id="resultado"></div>
    
        <div id="graficoFuncion" style="width: 100%; height: 500px;"></div>
    </div>
</div>


{% endblock %}

{% block extrascripts %}
<script src="{% static 'scripts/secante.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}