:root {
    --color-claro: #F7F7F7;
    --color-gris-azulado: #C9D1D3;
    --color-celeste: #9DD3DF;
    --color-oscuro: #3B3737;
    --color-rojo: #991818;
  }
body{
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}


.offcanvas-body .btn {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.offcanvas-footer{
    padding: 16px;
}
.offcanvas-footer .btn{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}



header{
  background: linear-gradient(to left,#991818,#000000);
  color: #F7F7F7;
}




.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #dee7ed, #c6d6d6);
    z-index: -1;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  .diamond {
    fill: none;
    stroke: #a92727; /* podés poner cualquier color hexadecimal, RGB o nombre */
    stroke-width: 0.8;
    animation: pulse 8s infinite ease-in-out;
  }
  
  .delay1 {
    animation-delay: 2s;
  }
  .delay2 {
    animation-delay: 4s;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1) translate(0, 0);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.2) translate(0, 0);
      opacity: 0.5;
    }
  }