:root {
  --color-claro: #F7F7F7;
  --color-gris-azulado: #C9D1D3;
  --color-celeste: #7fc0ce;
  --color-oscuro: #3B3737;
  --color-rojo: #991818;
  }
  body{
  background: linear-gradient(to left,#991818,#000000); /*efecto gradiente hacia la derecha*/
  color: #F7F7F7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  }
  
  
  
  header{
    background: linear-gradient(to left,#991818,#000000);
  color: black;
  }
  
