:root {
  --color-claro: #F7F7F7;
  --color-gris-azulado: #C9D1D3;
  --color-celeste: #9DD3DF;
  --color-oscuro: #3B3737;
  --color-rojo: #991818;
}

/* Asegura que el contenido principal tenga suficiente espacio para que no quede cubierto por el footer */

.body-newton {
  align-items: center;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--color-gris-azulado);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
    
}
  
  .container-newton {
    background-color: #F7F7F7;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px var(--color-gris-azulado);
    width: 90%;
    max-width: 600px;

  }
  
  h1 {
    color: var(--color-oscuro);
    text-align: center;
    margin-bottom: 20px;
  }
  
  input, .btn-newton {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 10px;
    border: none;
  }
    
  input {
    font-size: 16px;
  }
  
  .btn-newton {
    background: var(--color-celeste);
    color:var(--color-oscuro);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-newton:hover {
    background: var(--color-rojo);
    color: var(--color-claro);
  }
  
  .hidden {
    display: none;
  }
  
  #resultado {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    white-space: pre-line;
  }
  .calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 8px;
    margin-bottom: 10px;
    justify-content: center;

}

.calculadora .btn-newton {
    flex: 1 1 auto;
    color: var(--color-oscuro);
    min-width: 80px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1.7px solid #3B3737;
    border-radius: 4px;
    background-color: #9DD3DF;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap; /* evita que el texto se rompa */

}

.calculadora .btn-newton:hover {
    background-color: #991818;
}
  
